EmpLib/ttt10.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:complexType name="maa">
    	<xsd:sequence>
    		<xsd:element name="mahmoud" type="xsd:string"></xsd:element>
    		<xsd:element name="mohamed" type="xsd:string"></xsd:element>
    	</xsd:sequence>
    </xsd:complexType>

    <xsd:element name="mahmoudrequest" type="maa"></xsd:element>
</xsd:schema>